<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <h4 class="mb-2">{{'welcome_sneat' | translate}} </h4>
          <p class="mb-4">{{'please_signin' | translate}} </p>
          
          <form id="formAuthentication" class="mb-3">
            <div class="mb-3">
              <label for="email" class="form-label">{{'email_or_username' | translate}}</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email-username"
                placeholder="{{'enter_email_or_username' | translate}}"
                autofocus />
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">{{'password' | translate}}</label>
                <a routerLink="/forgot-password">
                  <small>{{'forgot_password' | translate}}</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me" />
                <label class="form-check-label" for="remember-me"> {{'remember_me' | translate}} </label>
              </div>
            </div>
          </form>
          <div class="mb-3">
            <button (click)="onChangeLanguage('en')" class="btn btn-primary d-grid w-100">{{'english' | translate}}</button>
          </div>
          <div class="mb-3">
            <button (click)="onChangeLanguage('fr')" class="btn btn-primary d-grid w-100">{{'french' | translate}}</button>
          </div>
          <div class="mb-3">
            <button (click)="onChangeLanguage('es')" class="btn btn-primary d-grid w-100">{{'spanish' | translate}}</button>
          </div>
          
          <p class="text-center">
            <span>{{'new_platform' | translate}}</span>
            <a>
              <span> {{'sign_up' | translate}}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
