<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <h4 class="mb-2" i18n>Welcome to Sneat! 👋</h4>
          <p class="mb-4" i18n>Please sign-in to your account and start the adventure</p>
          
          <form id="formAuthentication" class="mb-3">
            <div class="mb-3">
              <label for="email" class="form-label" i18n>Email or Username</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email-username"
                i18n-placeholder
                placeholder="Enter your email or username"
                autofocus />
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password" i18n>Password</label>
                <a routerLink="/forgot-password">
                  <small i18n>Forgot Password?</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me" />
                <label class="form-check-label" for="remember-me" i18n> Remember Me </label>
              </div>
            </div>
            <div class="mb-3">
              <a href="/en-US" class="btn btn-primary d-grid w-100" type="submit" i18n>English</a>
            </div>
            <div class="mb-3">
              <a href="/fr" class="btn btn-primary d-grid w-100" type="submit" i18n>French</a>
            </div>
            <div class="mb-3">
              <a href="/es" class="btn btn-primary d-grid w-100" type="submit" i18n>Spanish</a>
            </div>
          </form>
          
          <p class="text-center">
            <span i18n>New on our platform?</span>
            <a href="/en-US">
              <span i18n> Sign-up</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
